<h4>Note</h4>

<form name="noteForm">
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="note.name" required md-maxlength="50">
    </md-input-container>

    <md-input-container>
        <label>Note text</label>
        <textarea class="note-body" 
        ng-model="note.body" rows="10" required md-maxlength="500">
                </textarea>
    </md-input-container>

    <div class="action-buttons">
        <md-button ng-click="process(noteForm)">
            Save
        </md-button>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
    </div>
</form>