<h4>Available notes</h4>

<ul class="notes-list">
    <li ng-repeat="note in notes" ng-click="editNote(note)">
        <p class="note-summary">{{note.name}}</p>
        <p class="note-timedate"><i>12/11/39</i></p>
    </li>

</ul>
<md-button style="float:right" ng-click="newNoteView()">
    New Note
</md-button>