<div layout="row" >
   <div flex="20">
   </div>
   <div class="login" flex="60" layout-align="center center">
      <h1 style="">Login</h1>
      <form name="loginForm">
         <div>
            <md-input-container>
               <label>Username</label>
               <input type="text" ng-model="login.username" name="username" required>
            </md-input-container>
         </div>
         <div>
            <md-input-container>
               <label>Password</label>
               <input type="password" ng-model="login.password" name="password" required>
            </md-input-container>
         </div>
         <p style="color:red" ng-show="invalidCreds">Invalid credentials</p>
         <div class="action-buttons">
            <md-button ng-click="login()" class="md-primary">
               Login
            </md-button>
         </div>
      </form>
   </div>
   <div flex="20">
   </div>
</div>